<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>My first styled page</title>


<link href="/assets/css/style.css" rel="stylesheet" />


</head>

<body>

<!-- Site navigation menu -->
<% include partial/nav.ejs %>

<!-- Main content -->
<h1>Welcome to NODE JS by DSR!</h1>



<address><%= new Date() %> </address>

</body>
</html>