<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/">Home page</a>
  <li><a href="/contacts">Contacts</a>
  <li><a href="/contacts/123">Contacts/:id</a>
  <li><a href="/profiles/dharmender">Profiles/:name</a>
</ul>